
.dashboard-two-split {
    width: 100%;
    height: 100%;

    display: flex;

    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    box-sizing: border-box;
}

.dashboard-two-split .dashboard-row {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dashboard-col {
    background-color: #eeeded;
    flex: 1;
    height: 100%;

    -webkit-box-shadow: -1px 5px 11px -7px rgba(0,0,0,0.76); 
    box-shadow: -1px 5px 11px -7px rgba(0,0,0,0.76);
}

.span-all {
    flex: 1 1 100%;
}


.dashboard-logo-container {
  max-width: 100%;
  padding: 1rem;
}

.dashboard-logo-container img {
  width: 100%;
  height 100%;
}
