.env

engine/data/*
engine/node_modules

database/conf/
database/data/
database/init/
database/logs/
config/

nginx/certs/accounts/*
nginx/certs/archive/*
nginx/certs/live/petterssonhome.se/privkey.pem


api/node_modules
cdn/node_modules
dashboard/node_modules
discord/node_modules

discord/
tv/node_modules

sonarqube/


config/transmission/vpn-configs-contrib/.git
