volumes:
  prometheus-data: {}
  grafana-data: {}
  plex-config: {}
  plex-media: {}
  overseerr-data: {}
  sonar-data: {}
  randarr-data: {}
  portainer_data: {}

  filebrowser_data: {}
  filebrowser_config: {}

  scripts-volume: {}

include:
  - compose/general.yml
  - compose/monitoring.yml
  - compose/media.yml
  - compose/services.yml

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "${NGINX_HTTP_PORT:-80}:80"
      - "${NGINX_HTTPS_PORT:-443}:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/sites:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /home/marcus/media:/media:ro # IPTV
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
