volumes:
  prometheus-data: {}
  grafana-data: {}
  plex-config: {}
  plex-media: {}
  overseerr-data: {}
  sonar-data: {}
  randarr-data: {}
  portainer_data: {}

  filebrowser_data: {}
  filebrowser_config: {}

  scripts-volume: {}

include:
  - compose/general.yml
  - compose/monitoring.yml
  - compose/media.yml
  - compose/services.yml

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "${NGINX_HTTP_PORT:-80}:80"
      - "${NGINX_HTTPS_PORT:-443}:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/sites:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /home/marcus/media:/media:ro # IPTV
    restart: "always"
    networks:
      - app_network
    
  crawler:
    container_name: engine_crawler
    build:
      context: ${PROJECT_ROOT}/engine
      dockerfile: Dockerfile

    working_dir: /app

    command: node crawler/index.mjs

    volumes:
      - ./engine/data:/app/data

    restart: unless-stopped

    cpus: 1.0
    mem_limit: 512m

    ulimits:
      nofile:
        soft: 65536
        hard: 65536


  indexer:
    container_name: engine_indexer
    build:
      context: ${PROJECT_ROOT}/engine
      dockerfile: Dockerfile

    working_dir: /app

    # run indexer manually or on schedule
    command: node indexer/watch.mjs

    volumes:
      - ./engine/data:/app/data

    restart: "no"

    cpus: 0.5
    mem_limit: 512m

  # logger:
    # container_name: logger
    # build:
      # context: ${PROJECT_ROOT}/logs
      # dockerfile: Dockerfile
    # volumes:
      # - ./logs:/usr/logger/
      # - ./logs:usr/logger/logs
      # - ./logs/log_folder:usr/logger/logs/log_folder
      # - ./logs/log_containers.sh:usr/logger/log_containers.sh
      # - /var/run/docker.sock:/var/run/docker.sock

networks:
  app_network:
    driver: bridge
