version: "3.9"

services:
  # MariaDB (Database)
  mariadb:
    build: ./database
    container_name: mariadb
    restart: always
    env_file: .env
    ports:
      - "${MARIADB_PORT:-3306}:3306"
    volumes:
      - ./database/data:/var/lib/mysql
      - ./database/logs:/var/log/mysql
      - ./database/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - app_network

  # phpMyAdmin (Database GUI)
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    depends_on:
      - mariadb
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      PMA_USER: ${MARIADB_USER}
      PMA_PASSWORD: ${MARIADB_PASSWORD}
    ports:
      - "${PHPMYADMIN_PORT:-8081}:80"
    networks:
      - app_network

  # API (Node / Express)
  api:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    depends_on:
      - mariadb
    volumes:
      - ./api:/usr/src/app # Live code mount
      - /usr/src/app/node_modules # Prevent host overwrite
    command: npx nodemon index.mjs # Auto-reload on save
    environment:
      - NODE_ENV=development
    ports:
      - "${API_PORT:-9091}:9091" # Expose to host for testing
    networks:
      - app_network

  # Dashboard (Vite / React)
  dashboard:
    container_name: dashboard
    build:
      context: ./dashboard
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./dashboard:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev # Live Vite dev server
    environment:
      - NODE_ENV=development
    ports:
      - "5173:5173" # Local dev port
    networks:
      - app_network
  
  # TV
  tv:
    container_name: tv
    build:
      context: ./tv
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./tv:/usr/src/app
      - /usrc/src/app/node_modules
    command: npm run dev
    environment:
      - NODE_ENV=development
      - VITE_PORT=9092
    expose:
      - "9092"
    networks:
      - app_network


  # Nginx Reverse Proxy
  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - api
      - dashboard
      - phpmyadmin
    ports:
      - "${NGINX_HTTP_PORT:-80}:80"
      - "${NGINX_HTTPS_PORT:-443}:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/sites:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
