.top-navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1rem 0rem;
    width: 100%;
    justify-content: center;
    font-family: system-ui, sans-serif;

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

}


.top-navigation li {
    /* width: 100%; */
    margin: 0;
}

.top-navigation p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-left: .8rem;
    color: #9aa4ad;
}

.top-navigation li a {
    display: grid;
    grid-template-columns: 20px 1fr;
    /* icon column + text */
    align-items: center;
    column-gap: 0.75rem;

    width: 100%;
    box-sizing: border-box;

    padding: 0.6rem 1rem;

    color: #e5e7eb;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 6px;
}

.top-navigation a:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

/* Icons */
.top-navigation svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    color: #9aa4ad;
}