.progress {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    /* gap: 20px; */

    align-items: center;
}

.progress-info {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.progress-info p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.ProgressBar-container {
    width: 100%;
    background-color: #2b303a;
    border-radius: 10px;
    /* border: 2px solid #2b303a; */
    border: 2px solid #ffff;
}
